<template>
  <q-page class="flex flex-center q-ma-lg">
    <q-header>
      <img
        alt="Quasar logo"
        src="~assets/ainos_logo_monochrome.png"
        width="100px"
      >
      <span class="text-h5">Φορέας Διαχείρισης Εθνικού Δρυμού Αίνου</span>
    </q-header>
    <div style="vertical-align: top; height: 100%;" class="full-height full-width">
      <span class="text-h5">Έργο: Δημιουργία και παραμετροποίηση Βάσεων Δεδομένων Βιοποικιλότητας, Γεωχωρικών Δεδομένων και Ανθρωπογενών πιέσεων</span>
      <div class="text-justify">
        Το έργο συγχρηματοδοτείται από την Ελλάδα και την Ευρωπαϊκή Ένωση μέσω του Ταμείου Συνοχής (ΤΣ), στο πλαίσιο του Ε.Π. «Υποδομές Μεταφορών, Περιβάλλον και
        Αειφόρος Ανάπτυξη 2014-2020» (ΕΠ ΥΜΕΠΕΡΑΑ), από τις πιστώσεις του Προγράμματος Δημοσίων Επενδύσεων, κωδ. ΣΑΕ 2020ΣΕ27510043, ΣΕ2751. Υλοποιείται στο πλαίσιο του
        Υποέργου Νο 1 «Εφαρμογή της Διαχείρισης Ειδών, Οικοτόπων και Περιοχών Natura 2000 του Φορέα Διαχείρισης Εθνικού Δρυμού Αίνου με Στόχο τη Βελτίωση της
        Κατάστασης Διατήρησης και την Προστασία», της Πράξης «Επιχορήγηση του Φορέα Διαχείρισης Εθνικού Δρυμού
        Αίνου για Δράσεις Διαχείρισης Προστατευόμενων Περιοχών, Ειδών και Οικοτόπων» (κωδ. ΟΠΣ 5033022), η οποία έχει
        ενταχθεί στο ΕΠ ΥΜΕΠΕΡΑΑ με την απόφαση ένταξης με αρ. πρωτ. 2987/01-04-2020 (ΑΔΑ: Ω0Α146ΜΤΛΡ-Ε5Π) της Ειδικής
        Υπηρεσίας Διαχείρισης Επιχειρησιακού Προγράμματος «Υποδομές Μεταφορών, Περιβάλλον και Αειφόρος Ανάπτυξη», του Υπουργείου Ανάπτυξης και
        Επενδύσεων/Ειδική Γραμματεία Διαχείρισης Προγραμμάτων Ευρωπαϊκού Ταμείου Περιφερειακής Ανάπτυξης, Ταμείου Συνοχής και Ευρωπαϊκού Κοινωνικού Ταμείου.

        Αντικείμενο του έργου είναι η οργάνωση, τυποποίηση και αξιοποίηση της διαθέσιμης πληροφορίας που
        έχει στην κατοχή του η Αναθέτουσα Αρχή, αλλά και η συλλογή, εξαγωγή, ψηφιοποίηση και παραγωγή
        επιπρόσθετων δεδομένων σχετικά με τη βιοποικιλότητα της περιοχής, το φυσικό και το ανθρωπογενές
        περιβάλλον, από διάφορες πηγές, τα οποία θα συντεθούν και θα αποτελέσουν ένα πολυεπίπεδο,
        πολυσχιδές ψηφιακό εργαλείο βασισμένο στις αρχές της Τεχνολογίας Πληροφοριών και Επικοινωνιών.
        Tο ψηφιακό εργαλείο θα αποτελείται από συστηματοποιημένη σχεσιακή βάση μετα-δεδομένων και μια
        πρότυπη γεωβάση. Tο ψηφιακό εργαλείο θα αποτελέσει διαχειριστικό μέσο για την Αναθέτουσα Αρχή,
        καθώς με την επέκταση των ορίων ευθύνης της θα διευκολυνθεί η συγκέντρωση και ομαδοποίησή μετα-
        δεδομένων από ανασκόπηση και σύνθεση με τα οποία με την κατάλληλη επεξεργασία θα χρησιμοποιούνται
        για τη λήψη των προσηκόντων διαχειριστικών μέτρων. Η βάση δεδομένων θα εισάγει στοιχεία από όλα τα
        επίπεδα διοίκησης του Φορέα Διαχείρισης και αντιστοίχως θα είναι χρήσιμη σε όλα. Επιπλέον, θα
        δημιουργηθεί και θα παραμετροποιηθεί βάση βιοχημικών, γεωχωρικών δεδομένων και μετα-δεδομενων
        οικολογικής πληροφορίας για χερσαία, θαλάσσια, παράκτια είδη και ανθρωπογενείς πιέσεις.
      </div>
    </div>
    <div>
      <div class="q-pa-xs">
          <div class="row">
            <div class="col-4">
              <img
                alt="Cohesion Fund logo"
                src="~assets/tameio sinoxis.png"
                width="120px"
              >
            </div>
            <div class="col-6 justify-center">
              <img
                alt="YMEPERPAA logo"
                src="~assets/ymeperpaa.png"
                width="250px"
              >
            </div>
            <div class="col-2">
              <img
                alt="ESPA logo"
                src="~assets/espa.png"
                width="150px"
              >
            </div>
          </div>
          <div class="row justify-center">
            <div class="col-12">
              Με τη χρηματοδότησης της Ελλάδας και της Ευρωπαϊκής Ένωσης
            </div>
          </div>
      </div>
    </div>
    <q-footer class="q-pa-md">
      <div class="row">
        <div class="col-3">
          <img
            alt="Quasar logo"
            src="~assets/ainos_logo_monochrome.png"
            width="100px"
          ><br>
          Εθνικός Δρυμός Αίνου
        </div>
        <div class="col-3">
          Φορέας Διαχείρισης<br>Εθνικού Δρυμού Αίνου
          Κέντρο Περιβαλλοντικής Ενημέρωσης Κουτάβου,Τ.Θ. 222 28100 Αργοστόλι, Κεφαλονιά
        </div>
        <div class="col-3">
          ΤΗΛΕΦΩΝΟ +30 2671029258<br>
          ΦΑΞ +30 2671029258<br>
          Email ainosnationalpark@gmail.com
        </div>
        <div class="col-3">
          Φορέας Διαχείρισης Εθνικού Δρυμού Αίνου
          <q-btn-group outline>
            <q-btn outline color="white" icon-right="fab fa-instagram" type="a" href="https://www.instagram.com/aenosnationalpark/" target="new_tab"/>
            <q-btn outline color="white" icon-right="fab fa-facebook" type="a" href="https://www.facebook.com/aenosnationalpark/" target="new_tab" />
            <q-btn outline color="white" icon-right="fab fa-twitter" type="a" href="https://twitter.com/aenospark" target="new_tab" />
            <q-btn outline color="white" icon-right="fab fa-youtube" type="a" href="https://www.youtube.com/channel/UCOzhzwRJSwlD0be7hCvB5nw" target="new_tab" />
          </q-btn-group>
          <br>
          Γεωπάρκο Κεφαλονιάς - Ιθάκης
          <q-btn-group outline>
            <q-btn outline color="white" icon-right="fab fa-instagram" type="a" href="https://www.instagram.com/kefaloniageopark/" target="new_tab"/>
            <q-btn outline color="white" icon-right="fab fa-facebook" type="a" href="https://www.facebook.com/Kefaloniaithakageopark/" target="new_tab" />
            <q-btn outline color="white" icon-right="fab fa-twitter" type="a" href="https://twitter.com/IonianGeopark" target="new_tab" />
          </q-btn-group>
        </div>
      </div>
    </q-footer>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      zoom: 2,
      center: [0, 0],
      rotation: 0,
      geolocPosition: undefined,
    }
  }
}
</script>
<style scoped>
.footer {
  background-color: #036145;
}
</style>
